*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: $main-font
    min-height: 100vh
    @include flex-row

header
    @include box ($third-color, 25px, $second-color, center, 100%)
